warsh_Abdul_Basit_mp3_files/*
warsh_Abdul_Basit_wav_files/*

warsh_ibrahim_aldosary_mp3_files/*
warsh_ibrahim_aldosary_wav_files/*

warsh_yassin_al_jazaery_mp3_files/*
warsh_yassin_al_jazaery_wav_files/*